In [8]:
import pandas as pd
from sklearn.linear_model import LinearRegression
#import data
data = pd.read_csv("cardata.csv")
data.head(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [9]:
data.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [10]:
data = data.dropna(axis=0)
data = data.reset_index()

In [11]:
import numpy as np
for i in np.arange(len(data)):
    data.engine[i] = float(data.engine[i].replace(" CC",""))
    data.max_power[i] = float(data.max_power[i].replace(" bhp",""))
    if " kmpl" in data.mileage[i]:
        data.mileage[i] = float(data.mileage[i].replace(" kmpl",""))
    else:
        data.mileage[i] = float(data.mileage[i].replace(" km/kg",""))

<ipython-input-11-f9114c7e758b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.engine[i] = float(data.engine[i].replace(" CC",""))
<ipython-input-11-f9114c7e758b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.max_power[i] = float(data.max_power[i].replace(" bhp",""))
<ipython-input-11-f9114c7e758b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.mileage[i] = float(data.mileage[i].replace(" kmpl",""))
<ipython-input-11-f9114c7e758b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.mileage[i] = float(data.mileage[i].replace(" km/kg",""))

In [12]:
data.fuel.replace(to_replace=['Diesel', 'Petrol', 'LPG', 'CNG'],
           value= [0,1,2,3], 
           inplace=True)

In [13]:
data.transmission.replace(to_replace=['Manual', 'Automatic'],
           value= [0,1], 
           inplace=True)

In [14]:
data.seats.unique()

array([ 5.,  4.,  7.,  8.,  6.,  9., 10., 14.,  2.])

In [15]:
data = data[["year","selling_price","km_driven","fuel","transmission","mileage","engine","max_power","seats"]]

In [16]:
y_train = data.iloc[:,1].values.reshape(-1,1)

In [17]:
data.drop("selling_price",axis=1,inplace=True)

In [18]:
x_train = data.iloc[:,:].values

In [19]:
x_train.shape

(7906, 8)

In [20]:
y_train.shape

(7906, 1)

In [21]:
from sklearn.linear_model import LinearRegression
Model = LinearRegression()
Model.fit(x_train, y_train)

LinearRegression()

In [24]:
y_pred = Model.predict([[2018,100000,0,0,20,1400,60,4]])

In [25]:
int(y_pred)

346343

In [26]:
import pickle
with open ('car.pkl','wb') as f:
    pickle.dump(Model,f)
    print("Pickling completed")

Pickling completed